@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;


* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.form__number{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    @include mobile-min{
        font-size: 18px;
    }
    
}
.form{
    padding-top: -2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    &__container{
        width: 100%;
        padding-left: 1rem;
        
    }
    &__img{
        @include avatar;
        margin-top: -11rem;
        margin-right: 1rem;
        @include mobile-min{
            margin-top: -9rem;
        }
        
    }
    &__heading{
        color: $silver;
       font-size: 24px;
        font-weight: 600;
        margin-bottom: 0.7rem;
        @include mobile-min{
            font-size: 12px;
        }
    }
    &__input{
        border: 1px solid $mercury;
        border-radius: 8px;
        resize: none;
        width: 100%;
        height: 180px;
        background-color: $backcolorw2;
        padding: 1.5rem 0 0 1.5rem;
        font-weight: 500;
        @include mobile-min{
            height: 120px;
        }
       
        
    }
    &__button{
        width: 100%;
        height: 80px;
        color: $white1;
        background-color: $brainflix-bleu;
        border: 2px solid $brainflix-bleu;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 2rem;
        @include mobile-min{
            font-size: 18px;
        }
        
        .btn--img{
            position: relative;
            right: 13rem;
            width: 40px;
            @include mobile-min{
                width: 20px;
                right: 1rem;
            }
        }
    }

}
::placeholder{
    @include mobile-min{
        font-size: 14px;
    }
}
