@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;


* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.form__number{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    @include mobile-min{
        font-size: 18px;
    }
    @include tablet{
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
    @include tablet{
        margin-left: 2.25rem;
        margin-right: 2.25rem;
        @include desktop-sub
    }
}
.form{
    width: 100%;
    padding-top: -2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
   
    @include tablet{
       display: flex;
       flex-direction: row;
       align-items: flex-end;
       gap: 1rem;
       margin-left: 2.25rem;
       margin-right: 2.25rem;
       margin-top: 4rem;
    }
   
    
   
  
    &__container{
        width: 100%;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        @include tablet{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 3rem;
        }

     
        
    }
    &__img{
        @include avatar;
        margin-top: 5rem;
        margin-right: 1rem;
        @include mobile-min{
            margin-top: -9rem;
        }
        @include tablet{
            margin-top: 0rem;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;

        }
        @include desktop{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }

        
    }
    &__heading{
        color: $silver;
       font-size: 24px;
        font-weight: 600;
        margin-bottom: 0.7rem;
        @include mobile-min{
            font-size: 12px;
        }
        @include desktop{
            @include desktop-button;
        }
   
    }
    &__input{
        border: 1px solid $mercury;
        border-radius: 8px;
        resize: none;
        width: 100%;
        height: 180px;
        background-color: $backcolorw2;
        padding: 1.5rem 0 0 1.5rem;
        font-weight: 500;
        @include mobile-min{
            height: 120px;
        }
        @include tablet{
            height: 90px;
            width: 631px;
        }
        @include desktop{
            width: 410px;
            height: 60px;
            padding: 1rem 0 0 1.5rem;
            
        }
        
    }
    &__button{
        width: 100%;
        height: 80px;
        color: $white1;
        background-color: $brainflix-bleu;
        border: 2px solid $brainflix-bleu;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 2rem;
        @include mobile-min{
            font-size: 18px;
        }
        @include tablet{
            width: 400px;
            height: 90px;
            margin-top: 0rem;
            margin-bottom: 0.5rem;
        }
        @include desktop{
            width: 250px;
            height: 60px;
            @include desktop-button;
        }
        
        
        .btn--img{
            position: relative;
            right: 13rem;
            width: 40px;
            @include mobile-min{
                width: 20px;
                right: 1rem;
            }
            @include tablet{
                position: relative;
                right: 3rem;
                width: 40px;
              
            }
            @include desktop{
                right: 1rem;
                width: 30px;
            }
            
        }
    }

}
::placeholder{
    color: $brainflix-black1;
    @include mobile-min{
        font-size: 14px;
        
    }
}









