@mixin font-face{
    font-family: 'avenir next';
    src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../../Assets/Font/Alternative\ files/AvenirNextLTPro.ttf") format("truetype");
        
}
@mixin mobile{
    @media (max-width: 767px){
        @content;
    }
}
@mixin tablet{
    @media (min-width: 768px){
        @content;
    }
}
@mixin desktop{
    @media (min-width: 1280px){
        @content;
    }
}
@mixin mobile-min{
    @media (max-width: 320px){
        @content;
    }
}
@mixin avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
@mixin header-mobile{
    font-size: 28px;
    line-height: 32px;
}
@mixin section-mobile{
    font-size: 12px;
    line-height: 20px;
}
@mixin sub-mobile{
    font-size: 13px;
    line-height: 18px;
}
@mixin body-mobile{
    font-size: 13px;
    line-height: 18px;
}
@mixin desktop-header{
    font-size: 33px;
    line-height: 44px;
    font-weight: 700;
}
@mixin desktop-sub{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
@mixin desktop-header-sec{
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}
@mixin desktop-body{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
@mixin desktop-button{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}