$brainflix-bleu: #0095ff;
$brainflix-black1: #323232;
$brainflix-black2: #000000;
$backcolor2: #e1e1e1; 
$backcolor1: #afafaf;
$backcolorw2: #fafafa;
$mercury: #e1e1e1;
$silver: #afafaf;
$white1:#ffffff;
