@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}

.app__main{
    
    @include desktop{
        display: flex;
        &-selected{
            width: 70%;
        }
        &-list{
            width: 25%;
        }
        
    }
    

  
}
.app__post{
    width: 100%;
   
    @include tablet{
        width: 94%;
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
    @include desktop{
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
  
}
.app__video{
    background-color: $brainflix-black2;
    @include tablet{
        background-color: $brainflix-black2;
        width: 100%;
       
    }
    @include desktop{
        background-color: $brainflix-black2;
       
    }

}
