@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.comment{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-top: 3px solid $mercury;
    @include tablet{
        margin-left: 2.25rem;
        margin-right: 2.25rem;
    }
    @include desktop{
        margin-left: 2.25rem;
        margin-right: 0rem;
    }

    
    &__img{
        margin-top: 1rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $mercury;
        @include mobile-min{
            width: 120px;
            height: 50px; 
            border-radius: 50%;
        }
        @include tablet{
            width: 5rem;
            height: 5rem; 
            border-radius: 50%;
        }
        @include desktop{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
    }
    &__container{
        padding-left: 1rem;
        @include desktop{
            padding-right: 1rem;
        }

      
        .comment__header{
            display: flex;
            flex-direction: row;
           justify-content: space-between;
           .comment__name{
            font-weight: 700;
            font-size: 18px;
            color: $brainflix-black1;
            @include mobile-min{
               font-size: 12px;
            }
            @include tablet{
                font-weight: 700;
                font-size: 20px;
            }
           
           }
           .comment__date{
            color: $silver;
            @include mobile-min{
                font-size: 12px;
             }
           }
        }
        .comment__text{
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            margin-top: -0.5rem;
            color: $brainflix-black1;
            @include mobile-min{
                font-size: 12px;
             }
             @include tablet{
                font-size: 18px;
                line-height: 24px;
            }
            @include desktop{
               @include desktop-body;
            }
        }
    }

}

