@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.comment{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-top: 3px solid $mercury;
    
    &__img{
        margin-top: 1rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $mercury;
        @include mobile-min{
            width: 120px;
            height: 50px; 
        }
    }
    &__container{
        padding-left: 1rem;
        .comment__header{
            display: flex;
            flex-direction: row;
           justify-content: space-between;
           .comment__name{
            font-weight: 700;
            font-size: 18px;
            color: $brainflix-black2;
            @include mobile-min{
               font-size: 12px;
            }
           }
           .comment__date{
            color: $silver;
            @include mobile-min{
                font-size: 12px;
             }
           }
        }
        .comment__text{
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            margin-top: -0.5rem;
            color: $brainflix-black2;
            @include mobile-min{
                font-size: 12px;
             }
        }
    }

}

