@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.header{
    margin-left: 2rem;
    margin-right: 2rem;
    @include tablet{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        
      }
      @include desktop{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
      }
    &__logo{
        width: 210px;
        height: 50px;
        margin: 1rem 0 1rem 15rem;
        @include mobile-min{
            margin: 1rem 0 1rem 1rem;
        }
        @include tablet{
            margin-left: 2rem;
            width: 50%;
            height: 80px;

        }
        @include desktop{
            margin-left: 4rem;
            width: 100%;
            height: 4vh;

        }
    }
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
       
        &--search{
            display: flex;
            align-items: center;
            border-radius: 8px;
            background-color:$backcolorw2;
            width: 600px;
            height: 75px;
            border: 2px solid $backcolor2;
            margin-right: 2rem;  
            font-size: 20px;
            @include mobile-min{
                width: 150px;
               
            }
            @include tablet{
                width: 500px;
                height: 90px;
            }
            @include desktop{
            
                width: 40%;
                height: 54px;
    
            }

            
         
            .search--img{
                padding-left: 10px;
                width: 45px;
                @include desktop{
            
                    width: 30px;
                    
        
                }
            }
            .search--input{
                width: 100%;
                margin-left: 14px;
                outline: none;
                border: none;
                background: transparent;
                margin-right: 4px;
                font-size: 20px;
              
                
            }
    }
    &--btn{
        width: 100%;
        height: 30px;
       align-items: center;
       margin-top: 2rem;
       margin-bottom: 4rem;
       @include tablet{
       width: 300px;
       height: 90px;
    }
    @include desktop{
       margin: 0rem;
       width: 25%;
     }
   
  
    

        .btn--upload{
            width: 100%;
            height: 85px;
            color: $white1;
            background-color: $brainflix-bleu;
            border: 2px solid $brainflix-bleu;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: bold;
            @include tablet{
                margin-top: 1rem;
             }
             @include desktop{
                width: 100%;
                height: 54px;
                font-size: 18px;
             }
            
           

            
        }
        .btn--img{
           position: relative;
           right: 16rem;
           width: 40px;
           @include tablet{
            right: 1rem;
            width: 40px;
            
          }
          @include desktop{
            right: 1rem;
            width: 30px;
           }

           
        }
    }
   
}
}
.avatar--img{   
        @include avatar;
        @include tablet{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            
          }
          @include desktop{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            
          }
        
}
::placeholder{
    color:$brainflix-black2;
    font-size: 24px;
    @include desktop{
        font-size: 18px;
      }
    
}
.header__container{
    @include tablet{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 6rem;
        width: 50%;
        gap: 1rem;
        flex-wrap: nowrap;
        
    }
   
}
@include tablet{
    .header__container :nth-child(2) {order: 1;}
}












