@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.video__list{
    margin-top: 1rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    @include tablet{
        
        margin-left: 1rem;
        margin-right: 2,25rem;
      }

    &--img{
        .video__img{
            background-color: $mercury;
            width: 25vw;
            height: 20vh;
            border-radius: 4px;
           
        }
    }
    &--info{
        padding-left: 1rem;
        
        .video__title{
            font-weight: 700; 
            font-size: 18px;
            color: $brainflix-black2;
            width: 90%;
            @include mobile-min{
               font-size: 10px;
               width: 70%;

             }
            
            
        }
        .video__channel{
            font-size: 18px;
            line-height: 32px;
            font-weight: 400;
            @include mobile-min{
                font-size: 10px;
              }
        }

    }
}







