@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}

.video{
    margin-top: 2rem;
    
    &__post{
        width: 100%;
        height: 56.25vw;
        background-color: $brainflix-black1;
        
    }

    &__heading{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        padding-left: 1rem;
        font-size: 52px;
        color: $brainflix-black1;
        @include mobile{
            border-bottom: 3px solid $mercury;
            padding-bottom: 2rem;
        }
        @include mobile-min{
            font-size: 24px;
        }
        @include tablet{
            margin-left: 2.25rem;
            margin-right: 2.25rem;

        }
        @include desktop{
            @include desktop-header;
            margin-left: 2.25rem;
            margin-right: 0rem;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        font-size: 25px;
        margin-left: 1rem;
        margin-right: 2rem;
        margin-top: -1.5rem;
        margin-bottom: 0.5rem;
        @include mobile-min{
           font-size: 14px;
         }
         @include tablet{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            margin-top: -2.5rem;
            @include desktop{
                font-size: 18px;
                align-items: center;
                margin-top: 0rem;
                margin-bottom: -0.5rem;
            }

        }
        
        .video__maker{
            font-weight: 700;
        }
        .video__date{
            color: $silver;
        }
        
        &--views{
            display: flex;
            .views--img{
                width: 45px;
                @include mobile-min{
                    width: 25px;
                 }
                 @include desktop{
                    width: 35px;
                    
                 }
                
            }
            .views--number{
                color: $silver;
                padding-left: 1rem;
            }
           
        }
        &--likes{
            display: flex;
            .likes--img{
                width: 45px;
                @include mobile-min{
                    width: 25px;
                 }
                 @include desktop{
                    width: 35px;
                 }
                
                
            }
            .likes--number{
                color: $silver;
                padding-left: 1rem;
            }
        }

    }
    &__decription{
        display: flex;
        gap: 10rem;
        margin-left: 1rem;
        margin-right: 1rem;
        border-bottom: 3px solid $mercury;
        @include mobile-min{
            gap: 1rem;
            margin-left: auto;
            margin-right: auto;
           
         }
         @include tablet{
            display: flex;
            justify-content: space-between;
            margin-left: 2.25rem;
            margin-right: 2.25rem;
           
         }
         @include desktop{
            margin-left: 2.25rem;
            margin-right: 0rem;
           
         }

    }
 

}
.video__info{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    @include mobile-min{
       font-size: 14px;
       line-height: 22px;
     }
     @include tablet{
        margin-left: 2.25rem;
        margin-right: 2.25rem;
      }
      @include desktop{
        @include desktop-body;
        margin-left: 2.25rem;
        margin-right: 2.25rem;
      }
      
}