@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

* {
    box-sizing: border-box;
    text-decoration: none;
    @include font-face;
}
.video__list{
    margin-top: 1rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    @include tablet{
        
        margin-left: 1rem;
        margin-right: 2,25rem;
      }
      @include desktop{
        
        margin-left: 0rem;
        margin-right: 2,25rem;
        margin-top: 0rem;
       margin-bottom: -1rem;
        display: flex;
        flex-direction: row;
    
      } 

    &--img{
        .video__img{
            background-color: $mercury;
            width: 20vw;
            height: 20vh;
            border-radius: 4px;
            @include desktop{
                width: 100%;
                height: 16vh;
                border-radius: 4px;
            }
        }
        @include desktop{
           
            width: 50%;
            height: 23vh;
            border-radius: 4px;
          } 
    
      
    }
    &--info{
        padding-left: 1rem;
        @include desktop{
            font-size: 18px;
            margin: 0;
            width: 50%
          }
        .video__title{
            font-weight: 700; 
            font-size: 18px;
            color: $brainflix-black2;
            width: 90%;
            @include mobile-min{
               font-size: 10px;
               width: 70%;

             }
             @include desktop{
                font-size: 14px;
                margin: 0;
                width: 130%
                
 
              }
            
            
        }
        .video__channel{
            font-size: 18px;
            line-height: 32px;
            font-weight: 400;
            @include mobile-min{
                font-size: 10px;
              }
              @include desktop{
                margin: 0;
                font-size: 14px;
              }
        }

    }
}
.video__list--img{
    @include desktop{
        border-left: 3px solid $mercury;
        padding-left: 2rem;
        padding-bottom: 2rem;
      }
 
}

   








